.customPlaceholder::placeholder {
  color: gray !important;
}
.customBg {
  background-color: #f4fcfb !important;
}
.whiteBg {
  background-color: #ffff;
}
.customHeader {
  font-weight: 700;
}
#manageProducts {
  display: none;
}
.manageProductsHeader {
  background-color: #f5f6fa;
}
.customFileInput {
  display: none;
}
.uploadButton {
  border: 1px solid;
  background-color: #dcffec;
  color: #71ba58;
  height: 2.5em;
  width: 13em;
  border-radius: 5px;
}
.customSubmitBtn {
  background-color: #71ba58;
  border: none;
  border-radius: 5px;
  color: white;
  height: 2.1em;
  width: 4em;
}
.editBtn {
  background-color: #71ba58;
  color: white;
  border-radius: 3px;
  border: none;
  text-align: center;
  height: 1.9em;
}

.deleteBtn {
  background-color: #ff444a;
  color: white;
  border-radius: 3px;
  border: none;
  height: 1.9em;
  text-align: center;
}
