.customFont {
  font-weight: 700;
  color: #3c3c3c !important;
}
.customColor {
  background-color: #71ba58 !important;
}
.customLink {
  color: inherit !important;
  text-decoration: none !important;
}
