.logInForm {
  width: 30em;
  height: 23em;
  border: 1px solid black;
}
.inputStyles {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid gray;
  width: 25em;
}
::placeholder {
  color: black !important;
  font-weight: 500;
}
.customButton {
  background-color: #71ba58 !important;
  width: 26em;
}
.customText {
  color: #71ba58;
  border-bottom: 1px solid #71ba58;
}
.customText:hover {
  color: #71ba58;
  text-decoration: none;
}
.createAccFrom {
  border: 1px solid black;
  height: 25em;
  width: 30em;
}

.hrTextContainer {
  display: flex;
  width: 40em;
}
.hrBefore,
.hrAfter {
  flex: auto;
}
.hrLine1 {
  width: 60%;
  margin-left: 5em;
  padding-left: 2em;
  background-color: black;
}
.hrLine2 {
  width: 60%;
  margin-right: 5em;
  padding-right: 2em;
  background-color: black;
}
.hrText {
  text-align: center;
  margin: 0 1em;
}
